#
- name: find uid
#  shell: ldapsearch -H {{ server_uri }} -D {{ bind_dn }} -b {{ base_dn }} -w {{ bind_pw }} uidNumber | grep 'uidNumber: ' | sed 's|uidNumber: ||' | uniq | sort -n | tail -n 1
  shell: finduid.sh
#  register: uidNumber

- name: add a user
  ldap_entry:
    dn: uid={{ user_name }},ou=users,dc=orangehrm,dc=com
    objectClass:
      - inetOrgPerson
      - posixAccount
    attributes:
      description: An sftp user
      userPassword: "{{ usr_pwd }}"
      sn: "{{ surname }}"
      cn: "{{ user_name }}"
      gidNumber: "{{ gid }}"
      homeDirectory: "/home/{{ user_name }}"
      uidNumber: "{{ uidNumber.stdout}}"
    server_uri: "{{ server_uri }}"
    bind_dn: "{{ bind_dn }}"
    bind_pw: "{{ bind_pw }}"

#- name: add a user
#  ldap_attr:
#    dn: uid={{ user_name }},ou=people,dc=example,dc=com
#    name: shadowExpire
#    values: ""
#    state: exact
#    server_uri: ldap://localhost/
#    bind_dn: cn=admin,dc=example,dc=com
#    bind_pw: password
