---
#- name: check if user exist
#  ldap_entry:
#    dn: uid={{ user_name }},ou=users,dc=orangehrm,dc=com
#    objectClass:
#      - inetOrgPerson
#      - posixAccount
#    attributes:
#      description: An sftp user
#    server_uri: "{{ server_uri }}"
#    bind_dn: "{{ bind_dn }}"
#    bind_pw: "{{ bind_pw }}"
#  register: userdetails

# Check whether there's a existinig user or whether you have to use root

- name: Check whether user exist
  action: shell /usr/bin/getent passwd {{ user_name }}
  register: user_exist
  remote_user: root
  #when: user_exist.stdout == 0

- debug:
    var: user_exist.stdout